.DS_Store
/.build
/Packages
/*.xcodeproj
*.crt
*.xcuserstate
*.xcuserstate
Plugin/*
.swiftpm/*
Sources/Example/EchoModel/payment.proto
Sources/Example/EchoModel/common1.proto
Sources/Example/EchoModel/cashdesk.proto
Sources/Example/EchoModel/EchoModel_address.grpc.swift
Sources/Example/EchoModel/EchoModel_address.pb.swift
Sources/Example/EchoModel/EchoModel_common_public.pb.swift
Sources/Example/EchoModel/address.proto
Sources/Example/EchoModel/common_public.proto
Sources/Example/Client/EZServiceClient.swift
Sources/Example/Client/LTServiceClient.swift
Sources/Example/protos/address.proto
Sources/Example/protos/common_public.proto
